Scraping test workflow v1 multiple website.json
{
  "name": "Scraping test workflow v1 mutipal website",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        0
      ],
      "id": "b2a0eed6-9546-4e75-b71a-dd56bad694d2",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "return [\n  { \"feed\": \"https://techcrunch.com/feed/\" },\n  { \"feed\": \"https://www.cnbc.com/id/100003114/device/rss/rss.html\" },\n  { \"feed\": \"https://www.theverge.com/rss/index.xml\" }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        0
      ],
      "id": "a0b5eaed-7641-4b48-9fcb-28d799b44922",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "={{$json[\"feed\"]}}",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        576,
        32
      ],
      "id": "f142cf77-b9b6-4a75-b2c9-3f5f5e11357e",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        288,
        0
      ],
      "id": "972e6a1e-d8ed-4d68-9a5c-7bdee2a0e1f7",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "// 核心解碼函式：將 HTML 實體轉換為正常文字\nfunction decodeHtmlEntities(text) {\n  if (!text) return text;\n  \n  return text\n    .replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&quot;/g, '\"')\n    .replace(/&#39;/g, \"'\")\n    .replace(/&#8216;/g, '‘')\n    .replace(/&#8217;/g, '’')\n    .replace(/&#8220;/g, '“')\n    .replace(/&#8221;/g, '”')\n    .replace(/&#8230;/g, '...');\n}\n\n// 函式：移除所有 HTML 標籤\nfunction removeHtmlTags(text) {\n    if (!text) return '';\n    // 使用正規表達式匹配所有 <...> 標籤並替換為空字串\n    return text.replace(/<[^>]*>/g, '').trim(); \n}\n\nconst finalItems = [];\n\nfor (const item of items) {\n  \n  // --- 步驟 1: 資料清潔與標準化 ---\n  \n  // 處理亂碼\n  if (item.json.title) {\n    item.json.title = decodeHtmlEntities(item.json.title);\n  }\n  \n  // 處理 content (先解碼)\n  if (item.json.content) {\n    item.json.content = decodeHtmlEntities(item.json.content);\n  } else if (item.json.summary) {\n    item.json.content = decodeHtmlEntities(item.json.summary);\n  }\n  \n  // 辨識 sourceName (保持不變)\n  const url = item.json.link;\n  let sourceName = 'Unknown';\n  if (url.includes('techcrunch.com')) {\n    sourceName = 'TechCrunch';\n  } else if (url.includes('cnbc.com')) {\n    sourceName = 'CNBC';\n  } else if (url.includes('theverge.com')) {\n    sourceName = 'The Verge';\n  }\n  item.json.sourceName = sourceName;\n  \n  // --- 步驟 2: 嚴格篩選 ---\n  // 篩選出標題包含大寫 'AI' 的文章\n  if (item.json.title && item.json.title.includes('AI')) {\n    \n    // --- 步驟 3: 整理欄位 (摘要化並排除 categories) ---\n    \n    const rawContent = item.json.content || item.json.summary || '';\n    const cleanContent = removeHtmlTags(rawContent); // 移除 HTML 標籤\n    \n    // ⭐ 限制內容長度為 300 字符 (摘要化)\n    let finalContent = cleanContent;\n    if (finalContent.length > 300) {\n        finalContent = finalContent.substring(0, 300) + '...';\n    }\n    \n    const article = {\n        title: item.json.title,\n        link: item.json.link,\n        pubDate: item.json.pubDate,\n        content: finalContent, \n        sourceName: item.json.sourceName\n    };\n    \n    finalItems.push({json: article});\n  }\n}\n\nreturn finalItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        32
      ],
      "id": "e2a07520-b97f-46f7-8874-b4af3bf02d25",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1-pXLmZxDpaol-iBeEPfF6xTEVQ-dmjkZubIk5dHUJEs",
          "mode": "list",
          "cachedResultName": "Multiple scrape test_3 website",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-pXLmZxDpaol-iBeEPfF6xTEVQ-dmjkZubIk5dHUJEs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "工作表1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-pXLmZxDpaol-iBeEPfF6xTEVQ-dmjkZubIk5dHUJEs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "link",
              "displayName": "link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pubDate",
              "displayName": "pubDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sourceName",
              "displayName": "sourceName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1008,
        16
      ],
      "id": "0956fdb9-3ac4-4570-b9e3-01a7f091228b",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aUErYTFPtWckqFQ2",
          "name": "Google Sheets account_Emily"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "63b096f8-308c-44be-b5cc-6eb3f7f061b5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fc9a9f8dcc9239b8f02a41de0b9d2a7f96e193f2cb25b6955be31626298181a4"
  },
  "id": "C6cLTSbUiGuT7hyz",
  "tags": []
}